* {
margin: 0;
padding: 0;
}
body{
margin: 0 auto;
font-family: Lato;
max-width: 2560px;
width: 100%;
}
.page-header{
width: 100%;
min-height: 75px;
background-color: #222222;
padding: 18px 0;
box-sizing: border-box;
}
.container{
max-width: 1129px;
width: 100%;
margin: 0 auto;
/* border: 1px solid black; */
}
.page-header-flex{
display: flex;
justify-content: space-between;
}
.page-header-wrp {
width: 111px;
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.page-header-wrp:nth-child(2) {
width: 168px;
}
.page-header-logo-img{
  transition:  ease 1s,
  transform 1s,
  border-radius 2s;
}
.page-header-logo-img:hover{
  transform: rotate(360deg);
} 
.page-header-search-form {
width: 26px;
min-height: 26px;
position: relative;
}

.page-header-search-button {
width: 0;
min-height: 0;
padding: 5px;
outline: none;
box-sizing: border-box;
background-color: transparent;
border: none;
position: absolute;
top: -1px;
left: 30px;
color: #fff;
font-size: 16px;
font-family: Arial;
text-transform: capitalize;
}

.page-header-search-button:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
  }
  .search-icon{
    fill: #E8E8E8;
  }
.search-icon:hover{
  fill: #f16d7f;
}
  /* MENU */
.menu-button{
display: flex;
padding: 0;
margin: 0;
width: 32px;
height: 23px;
border: none;
background-color: transparent;
}
.menu-button-item{
margin: auto;
display: block;
width: 100%;
height: 3px;
background-color: #fff;
position: relative;
}

.menu-button-item::before,
.menu-button-item::after {
content: "";
display: block;
width: 100%;
height: 3px;
background-color: #fff;
position: absolute;
left: 0;
}
.menu-button-item::before {
top: -10px;
}
.menu-button-item::after {
top: 10px;
}
.menu-button:hover .menu-button-item,
.menu-button:hover .menu-button-item::before,
.menu-button:hover .menu-button-item::after {
  background-color: #f16d7f;
}
.menu-button:active .menu-button-item,
.menu-button:active .menu-button-item::before,
.menu-button:active .menu-button-item::after {
  background-color: violet;
}

#menu-switch{
  display: none; 
}
#menu-switch:checked ~ .menu-list{
  display: block;
}
.menu-list {
  display: none; 
  width: 232px;
  min-height: 764px;
  margin-top: 3px;
  padding: 16px 33px;
  box-sizing: border-box;
  list-style-type: none;
  background-color: #fff;
  /* border: 1px solid red; */
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 5;
  box-shadow: 6px 4px 35px rgb(0 0 0 / 21%);
}
  
.menu-close-button{
  display: block;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  /* border: 1px solid black; */
  border: none;
  background-color: transparent;
  position: absolute;
  top:16px;
  right: 16px;
  }

   .menu-close {
    display: block;
    /* position: relative; */
    width: 18px;
    height: 18px;

    }
    
    .menu-close:before, .menu-close:after {
    content: '';
    display: block;
    position: absolute;
    height: 18px;
    width: 2px;
    background-color: #575757;
    } 
    .menu-close:before {
    transform: rotate(45deg);
    }
    .menu-close:after {
    transform: rotate(-45deg);
    }
  .menu-close:hover::before,
  .menu-close:hover::after{
    background-color:grey;
  }
  .menu-close:active::before,
  .menu-close:active::after{
    background-color :#EF5B70;
  }
 .menu-list-item{
   display: block;
   margin: 12px 0 11px 0;
} 
.menu-list-item-title{
text-transform: uppercase;
font-weight: 700;
font-size: 14px;
line-height: 17px;
margin: 0 0 24px 0; 
color: #000000;
} 
.menu-sublist-item{
  margin:0 0 11px 21px;
}
.menu-list-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;

}
.menu-sublist-link{
text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #6f6e6e;
}
.menu-sublist-link:hover{
  color: #f16d7f;
}

/* CAB*/
.cab-button {
  border: none;
  background-color: transparent;
}
.cab-button-icon {
  fill: #E8E8E8;
}

.cab-button-icon:hover{
  fill:#f16d7f;
  
}
.cab-button-icon:active{
  fill: violet;
}
/* CART */
.cart-button{
border: none;
background-color: transparent;
color: #fff; 
position: relative;
}
.cart-button-icon {
  fill: #fff; 
}
.cart-button-icon:hover{
  fill: #f16d7f;
}
.cart-button-icon:active:active{
  fill:violet;
}
.cart-button-txt{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  color:#fff;
  background-color: #f16d7f;
  border-radius: 50%;
  position: absolute;
  top:-7px;
  right: -10px;
  transition:  ease 1s,
  transform 1s,
  border-radius 2s;

}
.cart-button-txt:hover{
  transform: rotate(360deg) ;
}
/* PROMO */
.promo {
width: 100%;
background-color: #F1E4E6;

}
.promo-container{
width: 100%;
display: flex;
min-height: 764px;
justify-content: flex-end;
align-items: center;
box-sizing: border-box;
background-image: url(../img/advertising.png);
background-repeat: no-repeat;
background-position: -220px;
}

.promo-wrp {
width: 377px;
margin: 0 100px 90px 0;
text-transform: uppercase;
position: relative;
}
.promo-wrp:before {
content: "";
display: block;
width: 12px;
height: 92px;
background-color: #F16D7F;
position: absolute;
top: 0;
left: -28px;
}
.promo-title {
display: block;
width: 100%;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 57.6px;
color: #222222;
}
.promo-subtitle {
display: block;
font-weight: 700;
font-size: 32px;
line-height: 38.4px;
}

.promo-subtitle-fashion{
color: #F16D7F;
}
/* categories*/

.categories-container{
max-width: 1140px;
width: 100%;
margin-top: 65px;
}
.content-categories-box {
width: 100%;
margin: 0 auto;  
}
.content-categories-box-list{
display: flex;
list-style: none;
justify-content: space-between;
flex-wrap: wrap;

}

 .content-categories-box-clothes{
max-width: 360px;
width: 100%;
min-height: 260px;
display: flex;
} 
.content-categories-list{
  display: flex;
  width: 100%;
  text-decoration: none;
}
.women{

background-image: url(../img/women.png);

} 
.men{
background-image: url(../img/men.png);

}
.kids{
background-image: url(../img/kids.png);

}
.content-categories-box-accesories{
  display: flex;
  max-width: 1140px;
  width: 100%;
  min-height: 180px;
  background-image: url(../img/accesories.png);
  margin: 30px 0 96px 0;
}

.content-categories-txt{
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
text-transform: uppercase;
margin: auto;
text-align: center;
}
.content-categories-txt-pink{
font-weight: 700;
font-size: 24px;
line-height: 28,8px;
color:  #F16D7F;
text-transform: uppercase;
align-self: center;
display: block;
}

.content-product-heading {
font-weight: 400;
font-size: 30px;
line-height: 36px;
color: #222222; 
text-align: center;
margin-bottom: 6px;
}

.content-product-txt {
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
text-align: center;
margin-bottom: 48px;
}


.card-box{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
list-style: none;
}
.content-product-item-list{
  padding-bottom: 30px;
}
.content-product-card{
max-width: 360px;
width: 100%;
background: #F8F8F8;
padding-bottom: 20px;
text-decoration: none;
position: relative;
}
.content-product-item-card-box-photo{
padding-bottom: 25px;
}

.content-product-item-txt{
font-size: 13px;
line-height: 16px;
color: #000000;
padding-bottom: 12px;
padding-left: 18px;
text-transform: uppercase;
}
.content-product-item-description{
font-weight: 300;
font-style: light;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
padding: 12px 0 12px 18px;
}
.content-product-price{
font-size: 16px;
line-height: 19px;
color: #F16D7F;
padding-left: 18px;
padding-top: 18px;
margin: auto;
}

.brightness:hover .content-product-item-btn{
  display: flex;
}
.brightness:hover .content-product-item-card-box-photo{
  filter: brightness(20%);
  transition: 1s;
}

.content-product-item-btn {
   display: none;
   /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 139px;
  min-height: 43px;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 32.7%;
}

.content-product-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}
.content-product-button{
display:flex;
margin: 48px auto 95px auto;
font-size: 16px;
line-height: 19px;
color: #F26376;
 padding: 14px 38px; 
text-decoration: none;
border: 1px solid #FF6A6A;
background-color: #FFFFFF;

}
/* .bb{
font-size: 16px;
line-height: 19px;
color: #F26376;
 padding: 14px 38px; 
text-decoration: none;
display: inline-block;
border: 1px solid #FF6A6A;
margin: 0 auto;

} */
.content-product-button:hover{
  background-color: #F16D7F;
  color:#FFFFFF;
}
.content-benefits{
  background-color: #222224;
  
}
.benefits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 341px;
  margin: 95px auto 0 auto;
  box-sizing: border-box;
}

.content-benefits-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  width: 100%;
  margin: 0 90px 0 0;
}
 .content-benefits-item:nth-child(4n-1) {
  margin: 0;
} 
.content-benefits-icon {
  display: block;
  margin: 0 0 28px 0;
  fill: #F16D7F;
}
.content-benefits-heading {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 23,95px;
  color: #FBFBFB;
  text-align: center;
}
.content-benefits-text {
  font-weight: 300;
  font-size: 13.97px;
  line-height: 16.77px;
  text-align: center;
  color: #FBFBFB;
}

.content-subscribe{
width: 100%;
min-height: 448px;
background-color: #F4F4F4;
background-image: url(../img/subscription.png);
background-size: cover;
display: flex;
} 
.subscribe-container{
display: flex;
justify-content: space-between;
align-items: center;

}
.content-subscribe-feedback{
min-height: 150px;
display: flex; 
flex-direction: column;
background-image: url(../img/photo.svg);
background-repeat: no-repeat;
background-position: top;
}

.subscribe-feedback-txt{
width: 359px;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;
padding-top: 105px;

}
.subscribe-feedback-txt-italic{
  font-style: italic;
}


.content-subscribe-wrp-title{
display: block;
margin: 0 0 10px 0;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #222224;
text-align: center;
text-transform: uppercase;

}
.content-subscribe-wrp-subtitle{
display: block;
margin: 0 0 32px 0;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #222224;
}
.content-subscribe-form{
display: flex;
justify-content: center;
align-items: center;
width: 356px;

}
.content-subscribe-form-email{

width: 256px;
min-height: 48px;
padding: 20px 0 19px 23px;
background-color:  #E1E1E1;
border-radius: 30px 0 0 30px;
border: none;
box-sizing: border-box;
font-weight: 400;;
font-size: 14px;
line-height: 17px;
color: #222224;
opacity: 0.67;

}
.content-subscribe-form-email:hover{
  outline: 1px solid black;
}
.content-subscribe-form-btn{
display: flex;
margin: 0 auto;
width: 100px;
min-height: 48px;
padding: 20px 0 19px 23px;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
background-color: #F16D7F;
text-align: center;
border: none;
border-radius: 0 30px 30px 0;

}
.content-subscribe-form-btn:hover{
  outline: 1px solid black;
}
.page-footer{
background: #222224;
}
.page-footer-container{
min-height: 79px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.icons{
width: 31px;
height: 32px;
background: #FFFFFF;
padding: 8px;
}
.page-footer-rights{
font-size: 16px;
line-height: 19px;

color: #FBFBFB;
}

.page-footer-socials-list{
width: 147px;
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
}
.page-footer-socials-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.page-footer-socials-icon{
  fill:#000;
}

.page-footer-socials-link:hover {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 32px;
  height: 32px; 
  background-color: #F16D7F;
} 
.page-footer-socials-link:hover .page-footer-socials-icon{
  fill: #fff;
}

/* Каталог */
.new-arrivals{
  min-height: 149px;
  background-color: #F8F3F4;
}

.new-arrivals-container {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
}

.new-arrivals-heading {
  color: #F16D7F;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.breadcrumb {
  list-style: none;
  display: flex;

}
.breadcrumb-item{
  text-transform: uppercase;
}
.breadcrumb li+li:before {
  padding: 8px;
  color:#636363;
  content: "/";
}
.breadcrumb-link{
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-align: center;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
}

.link-active{
  font-weight: 700;
  color: #F16D7F;

}
.filter-container{
  display: flex;
}
 #switch-filter:checked ~ .filter-list{
  display: block;
}

.filter {
  /* display: block; */
  width: 360px;
  margin-top: 39px;
  padding: 13px 16px 16px 16px;
  box-sizing: border-box;
  background: #FFFFFF; 
  /* box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.25); */

}

#switch-filter:checked ~ .filter-list{
    display: block; 
   width: 360px;
  padding: 13px 16px 16px 16px;
  box-sizing: border-box; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
} 

#switch-filter,
#switch-trending,
#switch-size,
#switch-price,
#switch-color,
#switch-choose-size,
#switch-quantity {
  display: none;
}
.filter-btn {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}
.filter-txt {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}
.filter-icon {
  margin: 0 0 0 11px;
  fill: currentColor;
}
.filter-btn:hover{
  color: #EF5B70;
}
.filter-btn:active{
  color: #000000;
}
.filter-list{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-list-item{
  width: 100%;
  margin:0 0 18px 0; 
  padding: 11px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}
 .filter-list-item::before{
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #EF5B70;
    position: absolute;
    top: 3px;
    left: -3px;
    } 

.filter-list-link{
  text-transform: uppercase;
  color: #6F6E6E;
  text-decoration: none;
}
.filter-list-link:hover{
  color: #EF5B70;
}
.filter-list-link:active{
  color: #ccc;
}
.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  list-style: none;
}

.filter-sublist-item{
margin: 0 0 11px 34px;
font-weight: 400;
  font-size: 14px;
  line-height: 17px;

}
.filter-sublist-link{
  color: #6F6E6E;
  text-decoration: none;
}

.filter-sublist-link:hover{
  color:#EF5B70;
}
.filter-sublist-link:active{
  color:#000;
} 
.form-wrp{
  display: flex;
  justify-content: space-around;
  margin-top: 51px;
  margin-left: 30px;
  justify-content: space-around;

} 
.form-item{
  color:  #6F6E6E;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 16,8px;

}

/*trending button  */
.trending-list {
  margin-right: 28px;
  width: 132px;
  border: none;
  background-color: transparent;
}
.trending-list-btn-title{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.trending-list-btn-title:hover{
  color: #F16D7F;
}
.trending-list-btn-title:hover .trending-icon{
  fill: currentColor;
}
.trending-list-btn-title:active {
  color:black;
}
.trending-list-btn-title:active .trending-icon{
 fill: currentColor;
}
#switch-trending:checked ~ .list-trending-wrp {
  display: block;
}
.list-trending-wrp {
  position: absolute;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.list-trending-item {
  display: none;
}
.list-trending-item:nth-child(1):checked ~ .list-trending-item-title:nth-child(2):before,
.list-trending-item:nth-child(3):checked ~ .list-trending-item-title:nth-child(4):before,
.list-trending-item:nth-child(5):checked ~ .list-trending-item-title:nth-child(6):before,
.list-trending-item:nth-child(7):checked ~ .list-trending-item-title:nth-child(8):before {
  background-image: url(../img/check-solid.svg);
  background-size: cover;
  background-position: center;
}
.list-trending-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}
.list-trending-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}
.trending-icon{
  fill: #6F6E6E;
  position: absolute;
margin: 7px 0 0 10px
}
/* size button */
.size-list {
  width: 79px;
  border: none;
  background-color: transparent;
}
.size-list-btn-title{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.size-list-btn-title:hover{
  color: #F16D7F;
}
.size-list-btn-title:hover .size-icon{
  fill: currentColor;
}
.size-list-btn-title:active {
  color:black;
}
.size-list-btn-title:active .size-icon{
 fill: currentColor;
}
#switch-size:checked ~ .list-size-wrp {
  display: flex;
}
.list-size-wrp {
  position: absolute;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.list-size-item {
  display: none;
}
.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
  background-image: url(../img/check-solid.svg);
  background-size: cover;
  background-position: center;
}
.list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}
.list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

.size-icon{
  margin: 7px 10px;
  fill: #6F6E6E;
  position: absolute;
  
}

/*price button */
.price-list {
  margin-right: 28px;
  width: 132px;
  border: none;
  background-color: transparent;
}
.price-list-btn-title{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.price-list-btn-title:hover{
  color: #F16D7F;
}
.price-list-btn-title:hover .price-icon{
  fill: currentColor;
}
.price-list-btn-title:active {
  color:black;
}
.price-list-btn-title:active .price-icon{
 fill: currentColor;
}
#switch-price:checked ~ .list-price-wrp {
  display: block;
}
.list-price-wrp {
  position: absolute;
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.list-price-item {
  display: none;
}
.list-price-item:nth-child(1):checked ~ .list-price-item-title:nth-child(2):before,
.list-price-item:nth-child(3):checked ~ .list-price-item-title:nth-child(4):before,
.list-price-item:nth-child(5):checked ~ .list-price-item-title:nth-child(6):before,
.list-price-item:nth-child(7):checked ~ .list-price-item-title:nth-child(8):before {
  background-image: url(../img/check-solid.svg);
  background-size: cover;
  background-position: center;
}
.list-price-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}
.list-price-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}
.price-icon{
  fill: #6F6E6E;
  position: absolute;
  margin: 7px 0 0 10px
}

.catalog{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 65px;
  }
  .catalog-item{
  max-width: 360px;
  width: 100%;
  background: #F8F8F8;
  padding-bottom: 30px;
  text-decoration: none;
  }
  .catalog-product-list{
    margin-bottom: 30px;
  }
  .catalog-item-link{
    text-decoration: none;
  }
  .catalog-item-photo{
  margin-bottom: 25px;
  }
  .catalog-item-txt{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 12px;
  padding-left: 18px;
  text-transform: uppercase;
  }
  .catalog-item-description{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 12px 0 18px 16px;
  }
  .catalog-price{
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
    padding-top: 18px;
    margin: auto;
  }
  .pagination {
    margin: 0 auto;
    width: 284px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #EBEBEB;
    min-height: 44px;
    align-items: center;
    border-radius: 5px;
    list-style: none;
  }
 
  .pagination-numeration {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
  
  }
  .pagination-numeration:hover{
    color:black;
  }
  .target {
    color: #EF5B70;
  }
 
 
  /* Product */
.image-slide{
 min-height: 777px;
background-color: #F7F7F7;
display: flex;
justify-content: space-between;
align-items: center;
}

.product-direction-button{
  width:47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
}

.image-slide a {
  display: block;
  width: 48px;
  height: 48px;
  background-color: rgba(42, 42, 42, 0.15);
  text-align: center;
  line-height: 48px;
  position: relative;
}
.women-product{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  max-width: 1142px;
  width: 100%;
  min-height: 601px;
  margin: -65px auto 127px auto;
  background-color: white;
  border: 1px solid #EAEAEA;
  
  position: relative;
  box-sizing: border-box;
}
.women-product-heading{
  padding-top: 65px;
  font-weight: 300; 
  font-size: 14px;
  line-height: 16.8px;
  color: #F16D7F;
  text-align: center;
  text-transform: uppercase;
 position: relative;
}
.women-product-heading:after {
  content: "";
  display: inline-block;
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  position: absolute;
  top: 90px;
  left: 530px;} 
.women-product-brand{
  margin-top: 27px;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #4D4D4D;
text-align: center;
text-transform: uppercase;
}
.women-product-description{
  max-width: 555px;
  width: 100%;
  margin : 48px auto 0;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #5E5E5E;
text-align: center;

}
.women-product-price{
  display: block;
margin-top: 32px;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #EF5B70;
text-align: center;
position: relative;
}
.women-product-price:after {
  content: "";
  display: inline-block;
  width: 641px;
  height: 1px;
  background-color: #EAEAEA;
  position: absolute;
  top: 100px;
  left: 250px;} 

.women-product-form-wrp{
  display: flex;
  justify-content: center;
    /* max-width: 373px; */
    width: 100%;
    margin: 130px auto 0;
}
.choose-color{
  margin-right: 23px;
}
.choose-size-list{
  margin-right: 23px;
}
  .women-product-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 48px auto 65px auto;
   max-width: 212px;
   width: 100%;
   min-height: 48px;
   border: 1px solid #FF6A6A;
   background: transparent;
   text-align: center;
   font-size: 16px;
   line-height: 19px;
   color: #F26376;
   

 }
 .women-product-btn:hover{
   border: 1px solid black;
 }
 .women-product-btn svg {
   fill: #F26376;
   margin: 0 11px 0 0; 
 }


 
  /* Cart */
  .shopping-cart-container{
    display: flex;
    justify-content: space-between;
  }
  .shopping-cart{
    margin: 0 auto;
    padding-top: 59px;
    box-sizing: border-box;
    min-height: 148px;
    background: #F8F3F4;
    
  }
  .shopping-cart-heading{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
  }
  .cart-item-margin{
    margin-top: 96px;
  
  }
  .cart-item{
    display: flex;
    margin-bottom: 40px;
   max-width: 652px;
   width: 100%;
    min-height: 306px;
    /* border: 1px solid black; */
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    position: relative;
  }
  .cart-item-info{
    display: flex;
    flex-direction: column;
    padding-left: 31px;
    width: 390px;
  }
  .cart-item-brand-name{
    margin-bottom: 42px;
    padding-top: 22px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    text-transform: uppercase;

  }

  .cart-item-details{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
   color: #575757;
  padding-bottom: 6px;
  }
  .close-btn{
    display: block;
    padding: 0;
    margin: 0;
    width: 18px;
    height: 18px;
    /* border: 1px solid black; */
    border: none;
    background-color: transparent;
    position: absolute;
    top:28px;
    right: 22px;
    }
  
     .close {
      display: block;
      /* position: relative; */
      width: 18px;
      height: 18px;

      }
      
      .close:before, .close:after {
      content: '';
      display: block;
      position: absolute;
      height: 18px;
      width: 2px;
      background-color: #575757;
      } 
      .close:before {
      transform: rotate(45deg);
      }
      .close:after {
      transform: rotate(-45deg);
      }
    .close:hover::before,
    .close:hover::after{
      background-color:grey;
    }
    .close:active::before,
    .close:active::after{
      background-color :#EF5B70;
    }
  .input-quantity{
    margin-left: 24px;
    text-align: center;
    width: 44px;
    height: 24px;
    box-sizing: border-box;
  }
  .cart-item-price{
    color: #EF5B70;
  }
  .left-side-wrp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 113px;
    padding: 0;
  }
.cart-form{
  max-width: 360px;
  width: 100%;
  height: 272px;
}
.cart-page-button{
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  max-width: 652px;
  width: 100%;
  height: 50px;
}
.shopping-button{
  max-width: 235px;
  width: 100%;
  font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #000000;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: 1px solid #CCCCCC ;
  /* border-color: #CCCCCC; */
}
.shopping-button:hover{
  outline: 1px solid black;
}
.shipping-address{
  margin-bottom: 20px;
text-transform: uppercase;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #222222;
}
  .address{
    display: block;
    margin: 0 0 20px 0;
    padding-left: 17px;
    box-sizing: border-box;
    max-width: 360px;
    width: 100%;
    height: 45px;
    border: none;
    outline: 1px solid #A4A4A4;
  
  }
  .address:hover{
    outline: 1px solid black;
  }
  .address:focus{
    outline: 1px solid #F16D7F;
  }
.address-button{
  max-width: 101px;
  width: 100%;
  height: 35px;
  background-color: transparent;
  font-weight: 300;
font-size: 11px;
line-height: 13px;
color: #4A4A4A;
text-transform: uppercase;
border: none;
outline: 1px solid #A4A4A4;
}
.cart-total{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  margin-top: 57px;
  max-width:360px;
  width: 100%;
  min-height: 214px;
  align-items: flex-end;
  background-color: #F5F3F3;
  box-sizing: border-box;

}
.sub-total{
  padding: 39px 34px 12px 218px;
  font-weight: 400;
font-size: 11px;
line-height: 13px;
color: #4A4A4A;
text-transform: uppercase;
}
.grand-total{
  padding: 0 37px 39px 123px;
  font-weight: 300;
font-size: 16px;
line-height: 19px;
color: #222222;
text-transform: uppercase;
position:relative

}
.grand-total:after {
  content: "";
  display: inline-block;
  width: 275px;
  height: 1px;
  background-color: #E2E2E2;;
  position: absolute;
  top: 40px;
  left: 0;} 
.sub-total-price{
  margin-left: 20px;
}
.grand-total-price{
  color: #F16D7F;
  margin-left: 10px;
 
}
.proceed-button{
  align-self: center;
  max-width: 273px;
  width: 100%;
  height: 50px;
  font-weight: 300;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: none;
  margin-bottom: 42px;
}
  .proceed-button:hover{
    outline: 1px solid black;
  }
  
  /* registration */

  .registration-page{
    margin: 0 auto;
    padding-top: 59px;
    box-sizing: border-box;
    min-height: 148px;
    background: #F8F3F4;
    
  }
  .registration-heading{
  
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;

  }
  .registration-container{
    display: flex;
    justify-content: space-between;
  }
  .registration-form-wrp{
    display: flex;
    flex-direction: column;
    margin-top: 59px;
  }
  .fieldset-name{
    max-width: 360px;
    width: 100%;
    min-height: 149px;
    padding: 0;
    border: none;
  }
  .form-heading{
    margin-bottom: 20px;
    font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #222222;
  }
  .input-window{
    max-width: 360px;
    width: 100%;
    min-height: 45px;
    margin-bottom: 20px;
    padding-left: 17px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
  }
  .sex{
    display: flex;
    justify-content: space-between;
    max-width: 132px;
    width: 100%;
    min-height: 17px;
    margin-bottom: 33px;
  }
  .password-description{
    font-weight: 300;
font-size: 13px;
line-height: 16px;
color: #B1B1B1;


  }
  .join-btn{
    margin: 39px 0 96px 0;
    max-width: 167px;
    width: 100%;
    min-height: 50px;
    padding-right: 20px;
    background-color: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    background-image: url(../img/join-now.svg);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 125px;

  
  }
  
  .join-btn:hover{
    outline: 1px solid black;
  }
  .loyality-wrp{
    margin-top: 64px;
  }
  .loyality-heading{
    margin-bottom: 22px;
    text-transform: uppercase;
    font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #000000;
  }
  .loyality-txt{
    margin-bottom: 21px;
    max-width: 652px;
    width: 100%;
    min-height: 58px;
    font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #000000;
  }

  .loyality-list{
    list-style: none;
max-width: 557px;
width: 100%;
min-height: 204px;
  }
  .loyality-list-item{
    
    padding-bottom: 16px;
    font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #000000;
  }
.product-direction-button{
  border: none;
}
  .fa-check{
    margin-right: 22px;
  }
  .fas:hover{
    color:#F16D7F;
  }
  .pagination-direction-button{
    border: none;
    background-color: transparent;
    margin: 0 16px;
  }

  @media (min-width:768px) and (max-width:1024px)   {

    /* //////INDEX//// */
    /* page-header */
    .page-header{
      padding: 18px 32px;
    }
    /* promo */
    .promo-container{
      min-height: 367px;
      background-size: contain;
      background-position: -30px;
    }
    .promo-wrp{
      max-width: 311px;
      margin: 0;

    }
    .promo-wrp:before {
      left: -25px;
    }
    .promo-title{
      font-size: 44px;
      line-height: 53px;
    }
    .promo-subtitle{
      font-size: 24px;
      line-height: 29px;
    }
    /* content-categories */
    .categories-container{
      margin-top: 20px;
      padding: 0 16px;
      box-sizing: border-box;
    }
    .content-categories-box-clothes{
      max-width: 232px;
      min-height: 167px;
      } 
      .women{
        background-size: contain;
      }
      .men{
        background-size: contain;
      }
      .kids{
        background-size: contain;
      }
      .accessories{
        background-size: contain;
      }
      .content-categories-box-accesories{
        margin: 20px 0 154px 0;
      }
      .content-product-txt{
        margin-bottom: 73px;
      }
      .content-product-item-list{
        padding-bottom: 16px;
      }
    
      .content-product-button{
        margin: 32px auto 64px auto;
  
        }
    /* benefits */
      .benefits-container{
        flex-direction: column;
        align-items: center;
        padding: 48px 0 64px 0;
        margin: 0;
      }
      .content-benefits-item{
        margin: 0 0 48px 0;
      }
/* subscribe */
 .subscribe-container{
  flex-direction: column;
  min-height: 614px;
  padding:0 10px;
  box-sizing: border-box;
  } 
  .content-subscribe-feedback{
    margin-top: 64px;
  }
  .content-subscribe-wrp{
    margin-bottom: 140px;
  }
  .content-subscribe-wrp-title{
    font-size: 24px;
    line-height: 39px;
  }
  .content-subscribe-wrp-subtitle{
    font-size: 18px;
    line-height: 29px;
  }
  /* page-footer */
  .page-footer {
    padding:0 32px;
  }
/*///// CATALOG/////// */
.new-arrivals{
  padding: 0 16px;
}

.catalog-product-list:nth-child(3){
  display: none;
}

.filter-container{
  justify-content: space-between;
  height: 71px;
}
.filter{
  margin-top: 11px;
}
.form-wrp{
  max-width: 296px;
  height: 71px;
  padding-right: 16px;
  width: 100%;
  margin: 0;
  margin-top: 24px;
}
.trending-list{
  margin-right: 28px;
}
.size-list{
  max-width:49px;
  width: 100%;
  margin-right: 28px;
}
.price-list{
  max-width: 59px;
  width:100%;
  margin-right: 16px;
}
.catalog{
  margin-top: 0;
}
.catalog-product-list{
  margin-bottom: 16px;
}
.pagination{
  margin: 40px auto 63px auto;
}

/* ////////Product ////// */
.image-slide{
  min-height: 624px;
}
.women-collection-photo{
  max-height: 565px;
}
.women-product{
  margin:0 ;
}
.women-product-heading:after{
  left: 350px;
}
.women-product-price:after{
  left: 50px;
}
/* .card-box{
  flex-direction: row-reverse;

} */
.benefits{
  display: none;
}
/* ////cart */
.shopping-cart{
  padding-left: 16px;
}
.shopping-cart-container{
  display: flex;
  flex-direction: column;
}
.right-side-wrp{
  padding: 0 16px 0;

}
.cart-item{
  max-width: 734px;
}
.cart-page-button{
  margin: 62px auto;
}

.left-side-wrp{
  flex-direction: row;
  justify-content: space-around;
}
.cart-total{
  margin-top: 40px;
}

/* ////registration///// */
.registration-page{
  padding-left: 16px;
}
.registration-form-wrp{
padding-left: 16px;
}
.loyality-wrp{
  margin-left: 100px;
}
.loyality-heading{
  font-size: 16px;
  line-height: 19px;
}
.loyality-txt{
  font-size: 16px;
  line-height: 19px;
}
.loyality-list-item{
  font-size: 16px;
  line-height: 19px;
}
}

@media (min-width:480px) and (max-width:768px){
/* page-header */

.page-header{
  padding: 18px 32px;
}
/* promo */
.promo-container{
  min-height: 367px;
  background-image: none;
}
.promo-wrp{
  margin: 0 auto;
}
/* categories */
.categories-container{
  margin-top: 64px;
}
.content-categories-box-list{
  justify-content: center;
}

.content-categories-box-clothes{
  max-width: 343px;
  width: 100%; 
  min-height: 247px;
  margin-bottom: 32px;
}
.content-categories-box-accesories{
  max-width: 343px;
  width: 100%;
  min-height: 111px;
  margin: 0 0 64px 0;
}
/* product */
.content-product-txt{
  margin-bottom: 64px;
}
.content-product-item-list{
  padding-bottom: 16px;
}
.content-product-item-list:last-child{
  padding-bottom: 0;
}
.content-product-button{
  margin: 40px auto 96px auto;
}
.card-box{
  margin: 0;
}


.new-arrivals{
  padding: 0 16px;
}
.catalog-product-list:nth-child(3){
  display: none;
}
.pagination{
  margin: 40px auto 63px auto;
}
/* benefits */
.benefits-container{
  flex-direction: column;
  align-items: center;
  padding: 48px 0 64px 0;
  margin: 0;
}
.content-benefits-item{
  margin: 0 0 48px 0;
}
/* subscribe */
.subscribe-container{
flex-direction: column;
min-height: 614px;
padding:0 10px;
box-sizing: border-box;
} 
.content-subscribe-feedback{
margin-top: 64px;
}
.content-subscribe-wrp{
margin-bottom: 140px;
}
.content-subscribe-wrp-title{
  font-size: 24px;
line-height: 39px;
}
.content-subscribe-wrp-subtitle{
  font-size: 18px;
line-height: 29x;
}
 /* page-footer */
 .page-footer {
  padding:0 32px;
}
.form-wrp{
  max-width: 296px;
}
.price-list{
  width:59px;
}
}
 @media (min-width:375px) and (max-width:480px) {

  /* //////////INDEX////////// */
  /* HEADER */
  .page-header{
    padding:18px 10px;
  }
  .page-header-wrp{
    align-self: center;
  }
  .menu-mobile{
    justify-content: flex-end;
  }
  .cab-button{
    display: none;
  }
  .cart-button{
    display: none;
  }
  /* promo */
   .promo-container{
    background-image: none;
    min-height: 363px;
  } 
  .promo-wrp{
    width:263px;
    margin: 0 auto;
  }
  .promo-wrp:before{
    height: 61px;
    top: 7px;
  }
  .promo-title{
    font-size: 38px;
    line-height: 46px;
  }
  .promo-subtitle{
    font-size: 20px;
    line-height: 24px;
  }
/* categories */
.categories-container{
  margin-top: 64px;
}
.content-categories-box-list{
  justify-content: center;
}

.content-categories-box-clothes{
  max-width: 343px;
  width: 100%; 
  min-height: 247px;
  margin-bottom: 32px;
}
.content-categories-box-accesories{
  max-width: 343px;
  width: 100%;
  min-height: 111px;
  margin: 0 0 64px 0;
}
/* product */
.content-product-txt{
  margin-bottom: 64px;
}
.content-product-item-list{
  padding-bottom: 16px;
}
.content-product-item-list:last-child{
  padding-bottom: 0;
}
.content-product-button{
  margin: 40px auto 96px auto;
}
.card-box{
  margin: 0;
}

/* benefits */
.benefits-container{
  flex-direction: column;
  align-items: center;
  padding: 48px 0 81px 0;
  margin: 0;
}
.content-benefits-item{
  margin: 0 0 48px 0;
}
/* subscribe */
.subscribe-container{
flex-direction: column;
min-height: 550px;
padding:0 10px;
box-sizing: border-box;
} 
.content-subscribe{
  background-position: -400px;
}
.content-subscribe-feedback{
margin-top: 64px;
}
.content-subscribe-wrp{
margin-bottom: 109px;
}
.content-subscribe-wrp-title{
  font-size: 24px;
line-height: 37px;
}
.content-subscribe-wrp-subtitle{
  font-size: 14px;
line-height: 22px;
}
.page-footer-container{
  flex-direction: column-reverse;
  min-height: 143px;
}
.page-footer-rights{
  margin-bottom: 24px;
}
.page-footer-socials{
  margin: 43px 0 25px 0;
}
/* /////CATALOG///// */
.new-arrivals-container{
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.new-arrivals-heading{
  margin-top: 24px;
}
.breadcrumb{
  margin-top: 32px;
}
.filter-container{
  justify-content: space-between;
}
.filter{
  max-width: 37px;
  min-height: 78px;
  margin-top: 0;
  padding: 24px 0 0 8px;

}
.filter-txt{
  display: none;
}

.filter-icon {
  width:37.5px;
  height: 25px;
  margin: 0;
}
.form-wrp{
  max-width: 260px;
  height: 71px;
  padding-right: 8px;
  width: 100%;
  margin: 0;
  margin-top: 24px;
}
.trending-list{
  margin: 0;
}
.price-list{
  margin: 0;
}
.trending-list{
  max-width: 115px;
  width: 100%;
  margin-right: 23px;
} 
.form-item{
  font-size: 12px;
  line-height: 14px;
}
 .size-list{
  max-width: 44px;
  width: 100%;
  margin-right: 23px;
}
.price-list{
  max-width: 53px;
  width: 100%;
  margin-right: 8px;
} 

/* CATALOG */
.catalog{
  margin-top: 0;
}
.pagination{
  margin-top: 24px;
    margin-bottom: 63px;
}

/* ////PRODUCT/////// */
.image-slide{
  min-height: 624px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.women-collection-photo{
  max-width: 374px;
  max-height: 454px;
  width: 100%;
}
.women-product{
  min-height: 600px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 64px;
}

.women-product-heading:after{
  width:63px;
  top:95px;
  left:195px;

}
.women-product-description{
  max-width: 326px;
  margin-top: 32px;
}
.women-product-price{
  line-height: 31px;
}
.women-product-price::after{
  width:175px;
  top:55px;
  left:150px;
}
.women-product-form-wrp{
  margin: 81px 0 0;
}
.x{
  font-size: 10px;
  line-height: 12px;
}
.women-product-form-icon{
  fill: #6F6E6E;
  margin-left: 10px;
}
/* .content-product-item-list:last-child{
  display: block;
} */
/* .content-product-item-list:nth-child(2){
  display: none; 
} */
} 